# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Env / IDE
.env
.venv/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Video / audio recordings
*.mp4
*.MP4
*.mov
*.MOV
*.m4a
*.M4A
*.wav
*.WAV
